@using System.Web.Optimization
<!DOCTYPE html>

<html>



<head>

    <link rel="shortcut icon" href="~/Content/images/faviicon.png" />

    <meta name="IndisStyle" content="Web developer, webutvikler web design" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    @Scripts.Render("~/bundles/modernizr")

    <title>@ViewBag.Title</title>

</head>
<body>

    <div id="navigation" class="wrapper">
        <!-- Branding & Navigation -->
        <!--Main Navigation-->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div >
                <div class="container">



                    <!--mobile collapse menu button-->
                    <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>

                    <!--scroll mobile navigation-->
                    <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>

                    <!--everything within this div is collapsed on mobile-->
                    <div class="mobile-toggle pull-right">

                        <!--main navigation-->
                        <ul class="nav" id="main-menu">
                            <li class="active">
                                <a href="~/home">Hjem</a>
                            </li>
                            <li class="">
                                <a href="~/home/omMeg">Om meg</a>
                            </li>
                            <li class="">
                                <a href="~/home/arbeidsform">Kravspek</a>
                            </li>
                            <li class="">
                                <a href="~/home/arkiv">Arkiv</a>
                            </li>
                            <li class="">
                                <a href="~/home/prisliste">Prisliste</a>
                            </li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </div>


    <div>
        @RenderBody()
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row-fluid pull-center">
                <h4 style="color:#fff"><i class="icon-envelope"></i> indina@hotmail.no</h4><h4 style="color:#fff"><i class="icon-mobile-phone"></i> 94138558</h4>



                <div class="social-media">
                    <a target="_blank" href="https://www.facebook.com/indina.smith"><i class="icon-facebook-sign"></i></a>
                    <a target="_blank" href="https://twitter.com/IndisStyle"><i class="icon-twitter-sign"></i></a>
                    <a target="_blank" href="https://github.com/Indina"><i class="icon-github-alt"></i></a>

                </div>


            </div>
        </div>
    </footer>



    <!--
    When bundling, load in this sequence:
    1) shivs and jQuery
    2) 3rd party libraries
    3) require.js
    4) your app libraries
    5) main.js
    -->
    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/jsextlibs",
        "~/bundles/jslibs"
    )


</body>
</html>

