@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>

    <link rel="shortcut icon" href="~/Content/images/faviicon.png" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- : fill with your company info or remove -->
    <meta name="description" content="">
    <meta name="author" content="Themelize.me">

    <meta name="IndisStyle" content="Web developer, webutvikler web design" />
    <meta name="viewport" content="width=device-width" />

    <!-- Le fav and touch icons - todo: fill with your icons or remove -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/icons/default.png">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>


    @Styles.Render("~/Content/css")

    <!-- HTML5 shiv & respond.js for IE6-8 support of HTML5 elements & media queries -->
    <!--[if lt IE 9]>
      <script src="plugins/html5shiv/dist/html5shiv.js"></script>
      <script src="plugins/respond/respond.min.js"></script>
    <![endif]-->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    @Scripts.Render("~/bundles/modernizr")




</head>
<body class="has-navbar-fixed-top page-index">

    <!-- region: Navigation -->
    <div id="navigation" class="wrapper">
        <!-- Branding & Navigation -->
        <!--Main Navigation-->
        <div class="navbar navbar-fixed-top">
            <div class="container">

                <!--branding-->
                <div class="navbar-brand">
                    <!-- Logo added with CSS -->
                    <h1><a href="#content">Curr<span class="em">i</span></a></h1>
                </div>

                <!--mobile collapse menu button-->
                <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>

                <!--scroll mobile navigation-->
                <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>

                <!--everything within this div is collapsed on mobile-->
                <div class="mobile-toggle pull-right">
                    <!--main navigation-->
                    <ul class="nav" id="main-menu">
                        <li><a href="~/home">Hjem</a></li>
                        <li><a href="~/home/omMeg">Om meg</a></li>
                        <li><a href="~/home/arbeidsform">Kravspek</a></li>
                        <li><a href="~/home/portfolio">Portfolio</a></li>
                        <li><a href="~/home/prisliste">Prisliste</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div id="content">

        @RenderBody()

        </div>



        <!-- region: Footer -->

        <footer id="footer">
            <div class="container">
                <div class="row-fluid pull-center">
                    <h4 style="color:#fff"><i class="icon-envelope"></i> indina@hotmail.no</h4><h4 style="color:#fff"><i class="icon-mobile-phone"></i> 94138558</h4>



                    <div class="social-media">
                        <a target="_blank" href="https://www.facebook.com/indina.smith"><i class="icon-facebook-sign"></i></a>
                        <a target="_blank" href="https://twitter.com/IndisStyle"><i class="icon-twitter-sign"></i></a>
                        <a target="_blank" href="https://github.com/Indina"><i class="icon-github-alt"></i></a>

                    </div>


                </div>
            </div>
        </footer>





    @Scripts.Render(
        "~/bundles/libs"
    )

</body>
</html>

